{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://api.bflow-studio.com","description":"Generated server url"}],"tags":[{"name":"Expenses","description":"Management of expenses recorded by the user"},{"name":"Subscriptions","description":"Management of the user's plans and subscriptions"},{"name":"Budgets","description":"Creation, retrieval, update, and deletion of budgets"},{"name":"Wallets","description":"Management of the user's wallets"},{"name":"Recurring Movements","description":"Management of scheduled recurring income and expenses"},{"name":"Authentication","description":"Synchronization of authenticated users via Cognito"},{"name":"Financial History","description":"Query the combined history of financial movements"},{"name":"Transfers","description":"Fund transfers between wallets"},{"name":"Transaction Import","description":"Bulk import of expenses and incomes (transfers not supported)"},{"name":"Receipts","description":"Upload and processing of receipts"},{"name":"Legal","description":"Terms, conditions, and legal documents for the platform"},{"name":"Notifications","description":"Management of user notifications"},{"name":"Quick Expenses","description":"Fast expense logging with minimal data"},{"name":"Wompi Webhooks","description":"Receiving payment events sent by Wompi"},{"name":"Income","description":"Management of income recorded by the user"},{"name":"Dashboard","description":"Aggregated data and summaries for the main dashboard"},{"name":"Categories","description":"Management of income and expense categories"},{"name":"Users","description":"Profile, profile picture, and account deletion for the authenticated user"},{"name":"Storage","description":"Upload and management of generic files"},{"name":"Wallet Invitations","description":"Invite and manage collaborators on a shared wallet"}],"paths":{"/api/v1/incomes/{id}":{"put":{"tags":["Income"],"summary":"Updates an existing income entry for the authenticated user.","description":"Updates an existing income entry for the authenticated user.","operationId":"updateIncome","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IncomeRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseIncomeResponse"}}}}}},"delete":{"tags":["Income"],"summary":"Deletes an existing income entry for the authenticated user.","description":"Deletes an existing income entry for the authenticated user.","operationId":"deleteIncome","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"204":{"description":"No Content"}}}},"/api/v1/expenses/{id}":{"put":{"tags":["Expenses"],"summary":"Updates an existing expense entry for the authenticated user.","description":"Updates an existing expense entry for the authenticated user.","operationId":"updateExpense","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseExpenseResponse"}}}}}},"delete":{"tags":["Expenses"],"summary":"Deletes an existing expense entry for the authenticated user.","description":"Deletes an existing expense entry for the authenticated user.","operationId":"deleteExpense","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"204":{"description":"No Content"}}}},"/api/v1/webhooks/wompi":{"post":{"tags":["Wompi Webhooks"],"summary":"Receive and process a Wompi webhook event.","description":"Receive and process a Wompi webhook event.","operationId":"receive","parameters":[{"name":"wompi_hash","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK"}}}},"/api/v1/wallets":{"get":{"tags":["Wallets"],"summary":"Retrieves the wallets accessible to the authenticated user.","description":"Retrieves the wallets accessible to the authenticated user.","operationId":"getUserWallets","parameters":[{"name":"query","in":"query","required":false,"schema":{"type":"string"}},{"name":"role","in":"query","required":false,"schema":{"type":"string","enum":["OWNER","MEMBER"]}},{"name":"scope","in":"query","required":false,"schema":{"type":"string","enum":["MINE","SHARED"]}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageWalletResponse"}}}}}},"post":{"tags":["Wallets"],"summary":"Creates a new wallet for the authenticated user.","description":"Creates a new wallet for the authenticated user. The user becomes the owner of the wallet.","operationId":"createWallet","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWalletResponse"}}}}}}},"/api/v1/wallets/{walletId}/invitations":{"post":{"tags":["Wallet Invitations"],"summary":"Sends a wallet invitation to a user.","description":"Sends a wallet invitation to a user.","operationId":"inviteMember","parameters":[{"name":"walletId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletInvitationRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWalletInvitationResponse"}}}}}}},"/api/v1/wallets/invitations/{token}/reject":{"post":{"tags":["Wallet Invitations"],"summary":"Rejects a wallet invitation.","description":"Rejects a wallet invitation.","operationId":"rejectInvitation","parameters":[{"name":"token","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/wallets/invitations/{token}/accept":{"post":{"tags":["Wallet Invitations"],"summary":"Accepts a wallet invitation.","description":"Accepts a wallet invitation.","operationId":"acceptInvitation","parameters":[{"name":"token","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWalletResponse"}}}}}}},"/api/v1/wallets/invitations/id/{invitationId}/reject":{"post":{"tags":["Wallet Invitations"],"summary":"Rejects a wallet invitation by its id.","description":"Rejects a wallet invitation by its id, for use from the in-app pending-invitations list, where the email token isn't available.","operationId":"rejectInvitationById","parameters":[{"name":"invitationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/wallets/invitations/id/{invitationId}/accept":{"post":{"tags":["Wallet Invitations"],"summary":"Accepts a wallet invitation by its id.","description":"Accepts a wallet invitation by its id, for use from the in-app pending-invitations list, where the email token isn't available.","operationId":"acceptInvitationById","parameters":[{"name":"invitationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWalletResponse"}}}}}}},"/api/v1/tranfers":{"get":{"tags":["Transfers"],"summary":"Retrieves all transfers for the authenticated user.","description":"Retrieves all transfers for the authenticated user.","operationId":"getUserTransfers","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageTransferenceResponse"}}}}}},"post":{"tags":["Transfers"],"summary":"Processes a transfer request between two wallets.","description":"Processes a transfer request between two wallets.","operationId":"transfer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferenceRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTransferenceResponse"}}}}}}},"/api/v1/subscriptions/checkout":{"post":{"tags":["Subscriptions"],"summary":"Create a checkout session for a plan purchase.","description":"Create a checkout session for a plan purchase.","operationId":"createCheckout","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckoutRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCheckoutResponse"}}}}}}},"/api/v1/recurring":{"get":{"tags":["Recurring Movements"],"summary":"Get all recurring transactions for the authenticated user.","description":"Get all recurring transactions for the authenticated user.","operationId":"getUserRecurring","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RecurringResponse"}}}}}}},"post":{"tags":["Recurring Movements"],"summary":"Create a new recurring transaction.","description":"Create a new recurring transaction.","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecurringRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RecurringResponse"}}}}}}},"/api/v1/receipts":{"post":{"tags":["Receipts"],"summary":"Registers an uploaded photo as a receipt for a wallet.","description":"Registers an uploaded photo as a receipt for a wallet. Camera-first flow: file already uploaded via the existing presigned-upload endpoints; this is the only extra input the user provides — everything else comes from OCR later.","operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReceiptUploadRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseReceiptUploadResponse"}}}}}}},"/api/v1/receipts/{id}/confirm":{"post":{"tags":["Receipts"],"summary":"Confirms a receipt's suggested data — as edited by the user — into a new Expense or Income.","description":"Confirms a receipt's suggested data — as edited by the user — into a new Expense or Income.","operationId":"confirm","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReceiptConfirmRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseReceiptUploadResponse"}}}}}}},"/api/v1/incomes":{"post":{"tags":["Income"],"summary":"Creates a new income entry for the authenticated user's wallet.","description":"Creates a new income entry for the authenticated user's wallet.","operationId":"createIncome","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IncomeRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseIncomeResponse"}}}}}}},"/api/v1/import/csv":{"post":{"tags":["Transaction Import"],"summary":"Imports expenses and incomes from a CSV file.","description":"Bulk-creates expense/income entries for a wallet from a CSV file. Column names are auto-detected. Transfer rows are rejected.","operationId":"importCsv","parameters":[{"name":"walletId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseImportSummary"}}}}}}},"/api/v1/files/{id}/complete":{"post":{"tags":["Storage"],"summary":"Confirms that a previously requested upload actually reached S3, transitioning the file's status accordingly.","description":"Confirms that a previously requested upload actually reached S3, transitioning the file's status accordingly.","operationId":"completeUpload","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseFileResponse"}}}}}}},"/api/v1/files/presigned-upload":{"post":{"tags":["Storage"],"summary":"Requests a presigned S3 upload URL for a new file.","description":"Requests a presigned S3 upload URL for a new file. Creates the corresponding StoredFile record in PENDING status.","operationId":"createPresignedUpload","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PresignedUploadRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePresignedUploadResponse"}}}}}}},"/api/v1/expenses":{"post":{"tags":["Expenses"],"summary":"Creates a new expense entry for the authenticated user's wallet.","description":"Creates a new expense entry for the authenticated user's wallet.","operationId":"createExpense","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseExpenseResponse"}}}}}}},"/api/v1/expenses/quick":{"post":{"tags":["Quick Expenses"],"summary":"Create a quick expense.","description":"Create a quick expense.","operationId":"createQuickExpense","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuickExpenseRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExpenseResponse"}}}}}}},"/api/v1/contact":{"post":{"tags":["contact-controller"],"operationId":"sendMessage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK"}}}},"/api/v1/categories":{"get":{"tags":["Categories"],"summary":"Retrieves all categories.","description":"Retrieves all categories.","operationId":"getAll","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListCategoryResponse"}}}}}},"post":{"tags":["Categories"],"summary":"Creates a new category from the provided request.","description":"Creates a new category from the provided request.","operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCategoryResponse"}}}}}}},"/api/v1/budgets":{"get":{"tags":["Budgets"],"summary":"Get budgets for the authenticated user, with optional dynamic filtering (case-insensitive by wallet/category name, wallet, category, scope, period, or status), pagination, and sorting.","description":"Get budgets for the authenticated user, with optional dynamic filtering (case-insensitive by wallet/category name, wallet, category, scope, period, or status), pagination, and sorting. Example: GET /api/v1/budgets?name=food&page=0&size=10 &sort=amount,desc","operationId":"getBudgets","parameters":[{"name":"filter","in":"query","required":true,"schema":{"$ref":"#/components/schemas/BudgetSearchRequest"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageBudgetResponse"}}}}}},"post":{"tags":["Budgets"],"summary":"Create a new budget.","description":"Create a new budget.","operationId":"createBudget","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BudgetRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBudgetResponse"}}}}}}},"/api/v1/auth/sync":{"post":{"tags":["Authentication"],"summary":"Synchronizes the authenticated user","description":"Takes the JWT issued by Cognito, creates or updates the corresponding user in the local database, and returns the initial session data needed by the client (profile, wallets, etc.).","operationId":"sync","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncUserRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"User synchronized successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SyncUserResponse"}}}},"401":{"description":"Invalid or missing JWT token","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SyncUserResponse"}}}}}}},"/api/v1/wallets/{id}":{"get":{"tags":["Wallets"],"summary":"Retrieves a wallet by its UUID.","description":"Retrieves a wallet by its UUID. Validates that the authenticated user has access to the wallet.","operationId":"getWalletById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWalletResponse"}}}}}},"delete":{"tags":["Wallets"],"summary":"Permanently deletes a wallet the authenticated user owns.","description":"Permanently deletes a wallet the authenticated user owns.","operationId":"deleteWallet","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK"}}},"patch":{"tags":["Wallets"],"summary":"Updates an existing wallet for the authenticated user.","description":"Updates an existing wallet for the authenticated user.","operationId":"patchWallet","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateWalletRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWalletResponse"}}}}}}},"/api/v1/users/me":{"delete":{"tags":["Users"],"summary":"Deletes (soft delete) the authenticated user's account","description":"Marks the current user's account as deleted without physically removing their data from the database.","operationId":"deleteAccount","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"Account deleted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"patch":{"tags":["Users"],"summary":"Updates the authenticated user's profile","description":"Modifies the editable profile fields (name, preferences, etc.) of the currently authenticated user.","operationId":"updateProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserProfileRequest"}}},"required":true},"responses":{"400":{"description":"Invalid request data","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"Profile updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserProfileResponse"}}}},"401":{"description":"User not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserProfileResponse"}}}}}}},"/api/v1/users/me/picture":{"patch":{"tags":["Users"],"summary":"Replaces the user's profile picture","description":"Uploads a new image (multipart/form-data) and sets it as the authenticated user's profile picture, returning the resulting public URL.","operationId":"updatePicture","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"400":{"description":"Invalid file or unsupported format","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"Profile picture updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/v1/subscriptions/{id}/cancel":{"patch":{"tags":["Subscriptions"],"summary":"Cancel an existing subscription for the current user.","description":"Cancel an existing subscription for the current user.","operationId":"cancel","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/recurring/{id}/deactivate":{"patch":{"tags":["Recurring Movements"],"summary":"Deactivate a recurring transaction.","description":"Deactivate a recurring transaction.","operationId":"deactivate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK"}}}},"/api/v1/recurring/{id}/activate":{"patch":{"tags":["Recurring Movements"],"summary":"Activate a recurring transaction.","description":"Activate a recurring transaction.","operationId":"activate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK"}}}},"/api/v1/notifications/{id}/read":{"patch":{"tags":["Notifications"],"summary":"Mark a notification as read.","description":"Mark a notification as read.","operationId":"markAsRead","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/budgets/{id}":{"delete":{"tags":["Budgets"],"summary":"Delete a budget.","description":"Delete a budget.","operationId":"deleteBudget","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"patch":{"tags":["Budgets"],"summary":"Partially update an existing budget.","description":"Partially update an existing budget.","operationId":"patchBudget","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BudgetPatchRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBudgetResponse"}}}}}}},"/api/v1/wallets/{walletId}/transactions":{"get":{"tags":["Financial History"],"summary":"Retrieves the transaction history for a specific wallet.","description":"Retrieves the transaction history for a specific wallet.","operationId":"getWalletHistory","parameters":[{"name":"walletId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"query","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["INCOME","EXPENSE","TRANSFER"]}},{"name":"contributorIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageTransactionResponse"}}}}}}},"/api/v1/wallets/{walletId}/invitations/sent":{"get":{"tags":["Wallet Invitations"],"summary":"Retrieves every invitation sent by the authenticated user for a specific wallet — including invitations still pending a response, not only accepted ones.","description":"Retrieves every invitation sent by the authenticated user for a specific wallet — including invitations still pending a response, not only accepted ones.","operationId":"getSentInvitations","parameters":[{"name":"walletId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListWalletInvitationSentResponse"}}}}}}},"/api/v1/wallets/{walletId}/collaborators/search":{"get":{"tags":["Wallet Invitations"],"summary":"Searches for users that can be invited to a wallet, by name or email.","description":"Searches for users that can be invited to a wallet, by name or email. Only the wallet owner can perform this search.","operationId":"searchCollaborators","parameters":[{"name":"walletId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"query","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListCollaboratorSearchResult"}}}}}}},"/api/v1/wallets/{id}/members":{"get":{"tags":["Wallets"],"summary":"Retrieves all members associated with the specified wallet.","description":"Retrieves all members associated with the specified wallet. The authenticated user must have access to the wallet in order to retrieve its members.","operationId":"getWalletMembers","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListWalletMemberResponse"}}}}}}},"/api/v1/wallets/{id}/info":{"get":{"tags":["Wallets"],"summary":"Retrieves the wallet 'Information' panel: last activity, highest expense, transaction count, initial value, and upcoming recurring transactions.","description":"Retrieves the wallet 'Information' panel: last activity, highest expense, transaction count, initial value, and upcoming recurring transactions.","operationId":"getWalletInfo","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWalletInfoResponse"}}}}}}},"/api/v1/wallets/{id}/incomes":{"get":{"tags":["Wallets"],"summary":"Retrieves all incomes associated with a wallet.","description":"Retrieves all incomes associated with a wallet.","operationId":"getWalletIncomes","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageIncomeResponse"}}}}}}},"/api/v1/wallets/{id}/expenses":{"get":{"tags":["Wallets"],"summary":"Retrieves all expenses associated with a wallet.","description":"Retrieves all expenses associated with a wallet.","operationId":"getWalletExpenses","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageExpenseResponse"}}}}}}},"/api/v1/wallets/invitations":{"get":{"tags":["Wallet Invitations"],"summary":"Retrieves all pending invitations for the authenticated user.","description":"Retrieves all pending invitations for the authenticated user.","operationId":"getPendingInvitations","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListWalletInvitationResponse"}}}}}}},"/api/v1/users/{userId}/picture":{"get":{"tags":["Users"],"summary":"Gets a user's profile picture","description":"Public endpoint (no authentication) that serves the image bytes for the given user's profile picture, cached for 1 hour. It is public because a plain <img> tag cannot send an Authorization header.","operationId":"getPicture","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"Image served successfully","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/v1/transactions":{"get":{"tags":["Financial History"],"summary":"Retrieves the unified transaction history for the authenticated user.","description":"Retrieves the unified transaction history for the authenticated user.","operationId":"getGlobalHistory","parameters":[{"name":"query","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["INCOME","EXPENSE","TRANSFER"]}},{"name":"contributorIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageTransactionResponse"}}}}}}},"/api/v1/tranfers/{id}":{"get":{"tags":["Transfers"],"summary":"Retrieves a transfer by its unique identifier.","description":"Retrieves a transfer by its unique identifier.","operationId":"getTransferById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTransferenceResponse"}}}}}}},"/api/v1/tranfers/wallet/{walletId}":{"get":{"tags":["Transfers"],"summary":"Retrieves transfers for a specific wallet by wallet ID.","description":"Retrieves transfers for a specific wallet by wallet ID.","operationId":"getUserTransfersByWalletId","parameters":[{"name":"walletId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageTransferenceResponse"}}}}}}},"/api/v1/subscriptions":{"get":{"tags":["Subscriptions"],"summary":"Retrieve the subscriptions owned by the currently authenticated user.","description":"Retrieve the subscriptions owned by the currently authenticated user.","operationId":"mySubscriptions","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListSubscriptionResponse"}}}}}}},"/api/v1/subscriptions/current":{"get":{"tags":["Subscriptions"],"summary":"Retrieves information about the current subscription for the authenticated user.","description":"Retrieves information about the current subscription for the authenticated user.","operationId":"current","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCurrentSubscriptionResponse"}}}}}}},"/api/v1/receipts/{id}":{"get":{"tags":["Receipts"],"summary":"Retrieves the current processing status of a receipt.","description":"Retrieves the current processing status of a receipt. Lets the frontend poll while OCR processes the receipt.","operationId":"getStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseReceiptUploadResponse"}}}}}},"delete":{"tags":["Receipts"],"summary":"Discards a receipt the user doesn't want to keep, deleting its underlying file immediately.","description":"Discards a receipt the user doesn't want to keep, deleting its underlying file immediately.","operationId":"discard","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/notifications":{"get":{"tags":["Notifications"],"summary":"Get all notifications for the authenticated user.","description":"Get all notifications for the authenticated user.","operationId":"getAll_1","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListNotificationResponse"}}}}}}},"/api/v1/notifications/unread-count":{"get":{"tags":["Notifications"],"summary":"Get the count of unread notifications.","description":"Get the count of unread notifications.","operationId":"unreadCount","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLong"}}}}}}},"/api/v1/legal/{documentType}":{"get":{"tags":["Legal"],"summary":"Retrieves a legal document of the specified type.","description":"Retrieves a legal document of the specified type.","operationId":"getDocument","parameters":[{"name":"documentType","in":"path","required":true,"schema":{"type":"string"}},{"name":"lang","in":"query","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LegalDocumentResponse"}}}}}}},"/api/v1/files/{id}/download":{"get":{"tags":["Storage"],"summary":"Issues a presigned S3 download URL for a file the authenticated user owns.","description":"Issues a presigned S3 download URL for a file the authenticated user owns.","operationId":"createDownloadUrl","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePresignedDownloadResponse"}}}}}}},"/api/v1/dashboard/statistics":{"get":{"tags":["Dashboard"],"summary":"Retrieves the 'Statistics' widget data (income vs expenses, Jan-Dec).","description":"Retrieves the 'Statistics' widget data (income vs expenses, Jan-Dec).","operationId":"getStatistics","parameters":[{"name":"year","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseStatisticsResponse"}}}}}}},"/api/v1/dashboard/spending":{"get":{"tags":["Dashboard"],"summary":"Retrieves the 'Spending this month' widget data.","description":"Retrieves the 'Spending this month' widget data.","operationId":"getSpending","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSpendingSummaryResponse"}}}}}}},"/api/v1/dashboard/recent-activity":{"get":{"tags":["Dashboard"],"summary":"Retrieves the 'Recent activity' widget data (top 5 transactions).","description":"Retrieves the 'Recent activity' widget data (top 5 transactions).","operationId":"getRecentActivity","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListRecentActivityItem"}}}}}}},"/api/v1/dashboard/budgets-health":{"get":{"tags":["Dashboard"],"summary":"Retrieves the 'Budgets health' widget data (top 3 budgets).","description":"Retrieves the 'Budgets health' widget data (top 3 budgets).","operationId":"getBudgetsHealth","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListBudgetHealthItem"}}}}}}},"/api/v1/dashboard/balance":{"get":{"tags":["Dashboard"],"summary":"Retrieves the 'Balance total' widget data.","description":"Retrieves the 'Balance total' widget data.","operationId":"getBalance","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBalanceSummaryResponse"}}}}}}},"/api/v1/dashboard/averages":{"get":{"tags":["Dashboard"],"summary":"Retrieves the 'Average income' / 'Average expenses' widget data.","description":"Retrieves the 'Average income' / 'Average expenses' widget data.","operationId":"getAverages","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAveragesResponse"}}}}}}},"/api/v1/dashboard/activity-breakdown":{"get":{"tags":["Dashboard"],"summary":"Retrieves the 'Activity breakdown' widget data (income/expense/transfer share this month, plus activity change vs last month).","description":"Retrieves the 'Activity breakdown' widget data (income/expense/transfer share this month, plus activity change vs last month).","operationId":"getActivityBreakdown","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseActivityBreakdownResponse"}}}}}}},"/api/v1/budgets/{id}/status":{"get":{"tags":["Budgets"],"summary":"Get the status of a specific budget.","description":"Get the status of a specific budget.","operationId":"getBudgetStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBudgetResponse"}}}}}}},"/api/v1/budgets/{id}/detail":{"get":{"tags":["Budgets"],"summary":"Get the full detail view (overview, trend, recent activity) for a specific budget, used by the budget dashboard UI.","description":"Get the full detail view (overview, trend, recent activity) for a specific budget, used by the budget dashboard UI.","operationId":"getBudgetDetail","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBudgetDetailResponse"}}}}}}},"/api/v1/budgets/wallet/{walletId}":{"get":{"tags":["Budgets"],"summary":"Get all budgets for a specific wallet.","description":"Get all budgets for a specific wallet.","operationId":"getBudgetsByWallet","parameters":[{"name":"walletId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListBudgetResponse"}}}}}}},"/api/v1/budgets/wallet/{walletId}/summary":{"get":{"tags":["Budgets"],"summary":"Get budget summary for a specific wallet.","description":"Get budget summary for a specific wallet.","operationId":"getSummary","parameters":[{"name":"walletId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBudgetSummaryResponse"}}}}}}},"/api/v1/wallets/{walletId}/members/{memberId}":{"delete":{"tags":["Wallet Invitations"],"summary":"Removes a member from a shared wallet.","description":"Removes a member from a shared wallet.","operationId":"removeMember","parameters":[{"name":"walletId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"memberId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/wallets/{walletId}/members/me":{"delete":{"tags":["Wallet Invitations"],"summary":"Leaves a shared wallet.","description":"Removes the authenticated user from the specified wallet. The wallet owner cannot leave this way — ownership must be transferred, or the wallet deleted, instead.","operationId":"leaveWallet","parameters":[{"name":"walletId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/wallets/invitations/{invitationId}":{"delete":{"tags":["Wallet Invitations"],"summary":"Cancels a pending wallet invitation.","description":"Cancels a pending wallet invitation.","operationId":"cancelInvitation","parameters":[{"name":"invitationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/recurring/{id}":{"delete":{"tags":["Recurring Movements"],"summary":"Delete a recurring transaction.","description":"Delete a recurring transaction.","operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}},"200":{"description":"OK"}}}}},"components":{"schemas":{"ApiResponseVoid":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"FieldErrorResponse":{"type":"object","properties":{"field":{"type":"string"},"code":{"type":"string"},"message":{"type":"string"}}},"IncomeRequest":{"type":"object","properties":{"title":{"type":"string","maxLength":50,"minLength":1,"pattern":"^[\\p{L}0-9 .,'\\-()!?&@#%/+:_]+$"},"description":{"type":"string","maxLength":100,"minLength":0,"pattern":"^[\\p{L}0-9 .,'\\-()!?&@#%/+:_]*$"},"amount":{"type":"number","maximum":999999999999999.99,"minimum":0.01},"date":{"type":"string","format":"date"},"walletId":{"type":"string","format":"uuid"},"source":{"type":"string"},"recurring":{"type":"boolean"},"recurrencePattern":{"type":"string","pattern":"^(DAILY|WEEKLY|MONTHLY|YEARLY)?$"},"categoryId":{"type":"string","format":"uuid"},"receiptFileId":{"type":"string","format":"uuid"}},"required":["amount","categoryId","date","recurring","title","walletId"]},"ApiResponseIncomeResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/IncomeResponse"},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"CategoryResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"type":{"type":"string","enum":["INCOME","EXPENSE","TRANSFER"]},"icon":{"type":"string"},"color":{"type":"string"}}},"IncomeResponse":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"description":{"type":"string"},"amount":{"type":"number"},"date":{"type":"string","format":"date"},"category":{"$ref":"#/components/schemas/CategoryResponse"},"walletId":{"type":"string"},"walletName":{"type":"string"},"contributorId":{"type":"string"},"contributorName":{"type":"string"},"source":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"editCount":{"type":"integer","format":"int32"},"categorizationChanges":{"type":"integer","format":"int32"},"confidenceScore":{"type":"number","format":"double"},"recurring":{"type":"boolean"},"recurrencePattern":{"type":"string"},"recurringTransactionId":{"type":"string"}}},"ExpenseRequest":{"type":"object","properties":{"title":{"type":"string","maxLength":50,"minLength":1,"pattern":"^[\\p{L}0-9 .,'\\-()!?&@#%/+:_]+$"},"description":{"type":"string","maxLength":100,"minLength":0,"pattern":"^[\\p{L}0-9 .,'\\-()!?&@#%/+:_]*$"},"amount":{"type":"number","maximum":999999999999999.99,"minimum":0.01},"date":{"type":"string","format":"date"},"walletId":{"type":"string","format":"uuid"},"source":{"type":"string"},"recurring":{"type":"boolean"},"recurrencePattern":{"type":"string","pattern":"^(DAILY|WEEKLY|MONTHLY|YEARLY)?$"},"categoryId":{"type":"string","format":"uuid"},"receiptFileId":{"type":"string","format":"uuid"}},"required":["amount","categoryId","date","recurring","title","walletId"]},"ApiResponseExpenseResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ExpenseResponse"},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"ExpenseResponse":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"description":{"type":"string"},"amount":{"type":"number"},"date":{"type":"string","format":"date"},"category":{"$ref":"#/components/schemas/CategoryResponse"},"recurring":{"type":"boolean"},"walletId":{"type":"string"},"walletName":{"type":"string"},"contributorId":{"type":"string"},"contributorName":{"type":"string"},"source":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"editCount":{"type":"integer","format":"int32"},"categorizationChanges":{"type":"integer","format":"int32"},"confidenceScore":{"type":"number","format":"double"},"recurrencePattern":{"type":"string"},"recurringTransactionId":{"type":"string"},"receiptFileId":{"type":"string"}}},"WalletRequest":{"type":"object","properties":{"name":{"type":"string","maxLength":100,"minLength":2,"pattern":"^[\\p{L}0-9 .,'\\-()]+$"},"description":{"type":"string","maxLength":255,"minLength":3,"pattern":"^[\\p{L}0-9 .,'\\-()]+$"},"currency":{"type":"string","enum":["USD","EUR","MXN"]},"initialValue":{"type":"number","maximum":1000000000.00,"minimum":0.00}},"required":["currency","description","initialValue","name"]},"ApiResponseWalletResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/WalletResponse"},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"WalletResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid","readOnly":true},"name":{"type":"string"},"description":{"type":"string"},"currency":{"type":"string","enum":["USD","EUR","MXN"]},"balance":{"type":"number"},"initialValue":{"type":"number"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"role":{"type":"string","enum":["OWNER","MEMBER"]},"memberCount":{"type":"integer","format":"int32"}}},"WalletInvitationRequest":{"type":"object","properties":{"invitedEmail":{"type":"string","format":"email","minLength":1}},"required":["invitedEmail"]},"ApiResponseWalletInvitationResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/WalletInvitationResponse"},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"WalletInvitationResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"walletId":{"type":"string","format":"uuid"},"walletName":{"type":"string"},"invitedEmail":{"type":"string"},"invitedByName":{"type":"string"},"invitedByEmail":{"type":"string"},"invitedByPictureUrl":{"type":"string"},"status":{"type":"string","enum":["PENDING","ACCEPTED","REJECTED","EXPIRED","CANCELED"]},"expiresAt":{"type":"string","format":"date-time"}}},"TransferenceRequest":{"type":"object","properties":{"fromWalletId":{"type":"string","format":"uuid"},"toWalletId":{"type":"string","format":"uuid"},"amount":{"type":"number","maximum":1000000000.00,"minimum":0.01},"description":{"type":"string","maxLength":255,"minLength":0,"pattern":"^[\\p{L}0-9 .,'\\-()&@#%/+:_]*$"}},"required":["amount","fromWalletId","toWalletId"]},"ApiResponseTransferenceResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/TransferenceResponse"},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"TransferenceResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"fromWalletId":{"type":"string","format":"uuid"},"fromWalletName":{"type":"string"},"toWalletId":{"type":"string","format":"uuid"},"toWalletName":{"type":"string"},"amount":{"type":"number"},"description":{"type":"string"},"status":{"type":"string"}}},"CheckoutRequest":{"type":"object","properties":{"planId":{"type":"string","format":"uuid"}}},"ApiResponseCheckoutResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/CheckoutResponse"},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"CheckoutResponse":{"type":"object","properties":{"subscriptionId":{"type":"string","format":"uuid"},"checkoutUrl":{"type":"string"}}},"RecurringRequest":{"type":"object","properties":{"title":{"type":"string"},"description":{"type":"string"},"amount":{"type":"number"},"walletId":{"type":"string","format":"uuid"},"categoryId":{"type":"string","format":"uuid"},"type":{"type":"string","enum":["EXPENSE","INCOME"]},"frequency":{"type":"string","enum":["DAILY","WEEKLY","MONTHLY"]},"intervalValue":{"type":"integer","format":"int32"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"}}},"RecurringResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"title":{"type":"string"},"amount":{"type":"number"},"type":{"type":"string","enum":["EXPENSE","INCOME"]},"frequency":{"type":"string","enum":["DAILY","WEEKLY","MONTHLY"]},"intervalValue":{"type":"integer","format":"int32"},"nextExecutionDate":{"type":"string","format":"date"},"active":{"type":"boolean"},"walletId":{"type":"string","format":"uuid"},"categoryId":{"type":"string","format":"uuid"}}},"ReceiptUploadRequest":{"type":"object","properties":{"fileId":{"type":"string","format":"uuid"},"walletId":{"type":"string","format":"uuid"}},"required":["fileId","walletId"]},"ApiResponseReceiptUploadResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ReceiptUploadResponse"},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"ReceiptUploadResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"fileId":{"type":"string","format":"uuid"},"walletId":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["RECEIVED","PROCESSING","EXTRACTED","CONFIRMED","FAILED","DISCARDED"]},"suggestedType":{"type":"string","enum":["EXPENSE","INCOME"]},"suggestedTitle":{"type":"string"},"suggestedAmount":{"type":"number"},"suggestedCategoryId":{"type":"string","format":"uuid"},"suggestedDate":{"type":"string","format":"date"},"confidenceScore":{"type":"number"},"failureReason":{"type":"string"},"resultingExpenseId":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"}}},"ReceiptConfirmRequest":{"type":"object","properties":{"type":{"type":"string","enum":["EXPENSE","INCOME"]},"title":{"type":"string","maxLength":255,"minLength":0},"description":{"type":"string"},"amount":{"type":"number","exclusiveMinimum":0},"categoryId":{"type":"string","format":"uuid"},"date":{"type":"string","format":"date"}},"required":["amount","categoryId","date","title","type"]},"ApiResponseImportSummary":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ImportSummary"},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"ImportRowResult":{"type":"object","properties":{"row":{"type":"integer","format":"int32"},"success":{"type":"boolean"},"type":{"type":"string"},"transactionId":{"type":"string"},"message":{"type":"string"}}},"ImportSummary":{"type":"object","properties":{"totalRows":{"type":"integer","format":"int32"},"successCount":{"type":"integer","format":"int32"},"failureCount":{"type":"integer","format":"int32"},"results":{"type":"array","items":{"$ref":"#/components/schemas/ImportRowResult"}}}},"ApiResponseFileResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/FileResponse"},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"FileResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"objectKey":{"type":"string"},"originalFilename":{"type":"string"},"contentType":{"type":"string"},"sizeBytes":{"type":"integer","format":"int64"},"status":{"type":"string","enum":["PENDING","UPLOADED","FAILED"]},"createdAt":{"type":"string","format":"date-time"}}},"PresignedUploadRequest":{"type":"object","properties":{"originalFilename":{"type":"string","maxLength":255,"minLength":0},"contentType":{"type":"string","maxLength":255,"minLength":0},"sizeBytes":{"type":"integer","format":"int64","exclusiveMinimum":0}},"required":["contentType","originalFilename","sizeBytes"]},"ApiResponsePresignedUploadResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PresignedUploadResponse"},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"PresignedUploadResponse":{"type":"object","properties":{"fileId":{"type":"string","format":"uuid"},"uploadUrl":{"type":"string"},"objectKey":{"type":"string"},"expiresAt":{"type":"string","format":"date-time"},"requiredHeaders":{"type":"object","additionalProperties":{"type":"string"}}}},"QuickExpenseRequest":{"type":"object","properties":{"amount":{"type":"number","exclusiveMinimum":0},"description":{"type":"string"}},"required":["amount"]},"ContactRequest":{"type":"object","properties":{"name":{"type":"string","maxLength":100,"minLength":0},"email":{"type":"string","format":"email","maxLength":254,"minLength":0},"subject":{"type":"string","maxLength":150,"minLength":0},"message":{"type":"string","maxLength":5000,"minLength":0}},"required":["email","message","name","subject"]},"CategoryRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1},"type":{"type":"string","enum":["INCOME","EXPENSE","TRANSFER"]},"icon":{"type":"string"},"color":{"type":"string"}},"required":["name"]},"ApiResponseCategoryResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/CategoryResponse"},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"BudgetRequest":{"type":"object","properties":{"walletId":{"type":"string","format":"uuid"},"amount":{"type":"number","exclusiveMinimum":0},"period":{"type":"string","enum":["DAILY","WEEKLY","MONTHLY"]},"startDate":{"type":"string","format":"date"},"categoryId":{"type":"string","format":"uuid"},"thresholdWarning":{"type":"integer","format":"int32","maximum":99,"minimum":1},"thresholdCritical":{"type":"integer","format":"int32","maximum":99,"minimum":1},"scope":{"type":"string","enum":["WALLET","WALLET_CATEGORY","CATEGORY_GLOBAL"]},"currency":{"type":"string","enum":["USD","EUR","MXN"]}},"required":["amount","currency","period","scope","startDate"]},"ApiResponseBudgetResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/BudgetResponse"},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"BudgetResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"walletId":{"type":"string","format":"uuid"},"walletName":{"type":"string"},"categoryId":{"type":"string","format":"uuid"},"categoryName":{"type":"string"},"scope":{"type":"string","enum":["WALLET","WALLET_CATEGORY","CATEGORY_GLOBAL"]},"period":{"type":"string","enum":["DAILY","WEEKLY","MONTHLY"]},"startDate":{"type":"string","format":"date"},"budgetLimit":{"type":"number"},"spent":{"type":"number"},"remaining":{"type":"number"},"percentage":{"type":"integer","format":"int32"},"status":{"type":"string","enum":["OK","WARNING","CRITICAL","EXCEEDED"]},"thresholdWarning":{"type":"integer","format":"int32"},"thresholdCritical":{"type":"integer","format":"int32"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"SyncUserRequest":{"type":"object","properties":{"idToken":{"type":"string"}}},"CurrentSubscriptionResponse":{"type":"object","properties":{"planCode":{"type":"string"},"planName":{"type":"string"},"status":{"type":"string","enum":["PENDING_ACTIVATION","ACTIVE","EXPIRED","CANCELED","PAST_DUE"]},"features":{"type":"object","additionalProperties":{"type":"boolean"}},"limits":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}}}},"SubscriptionResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"planName":{"type":"string"},"status":{"type":"string","enum":["PENDING_ACTIVATION","ACTIVE","EXPIRED","CANCELED","PAST_DUE"]},"billingAmount":{"type":"number"},"startsAt":{"type":"string","format":"date-time"},"endsAt":{"type":"string","format":"date-time"},"nextBillingAt":{"type":"string","format":"date-time"}}},"SyncUserResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"email":{"type":"string"},"roles":{"type":"array","items":{"type":"string"}},"isNewUser":{"type":"boolean"},"subscription":{"$ref":"#/components/schemas/SubscriptionResponse"},"plan":{"$ref":"#/components/schemas/CurrentSubscriptionResponse"},"wallets":{"type":"array","items":{"$ref":"#/components/schemas/WalletResponse"}},"profile":{"$ref":"#/components/schemas/UserProfileResponse"}}},"UserProfileResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"email":{"type":"string"},"name":{"type":"string"},"pictureUrl":{"type":"string"},"roles":{"type":"array","items":{"type":"string"},"uniqueItems":true},"status":{"type":"string","enum":["ACTIVE","SUSPENDED","DELETED"]},"language":{"type":"string","enum":["EN","ES"]}}},"UpdateWalletRequest":{"type":"object","properties":{"name":{"type":"string","maxLength":100,"minLength":2,"pattern":"^[\\p{L}0-9 .,'\\-()]+$"},"description":{"type":"string","maxLength":255,"minLength":3,"pattern":"^[\\p{L}0-9 .,'\\-()]+$"}},"required":["description","name"]},"UpdateUserProfileRequest":{"type":"object","properties":{"email":{"type":"string","format":"email"},"name":{"type":"string","maxLength":120,"minLength":0},"language":{"type":"string","enum":["EN","ES"]}}},"ApiResponseUserProfileResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/UserProfileResponse"},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"ApiResponseString":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"string"},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"BudgetPatchRequest":{"type":"object","properties":{"amount":{"type":"number","exclusiveMinimum":0},"period":{"type":"string","enum":["DAILY","WEEKLY","MONTHLY"]},"startDate":{"type":"string","format":"date"},"thresholdWarning":{"type":"integer","format":"int32","maximum":99,"minimum":1},"thresholdCritical":{"type":"integer","format":"int32","maximum":99,"minimum":1},"scope":{"type":"string","enum":["WALLET","WALLET_CATEGORY","CATEGORY_GLOBAL"]},"categoryId":{"type":"string","format":"uuid"},"walletId":{"type":"string","format":"uuid"},"currency":{"type":"string","enum":["USD","EUR","MXN"]}}},"Pageable":{"type":"object","properties":{"page":{"type":"integer","format":"int32","minimum":0},"size":{"type":"integer","format":"int32","minimum":1},"sort":{"type":"array","items":{"type":"string"}}}},"ApiResponsePageWalletResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageWalletResponse"},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"PageWalletResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/WalletResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"unpaged":{"type":"boolean"}}},"SortObject":{"type":"object","properties":{"empty":{"type":"boolean"},"sorted":{"type":"boolean"},"unsorted":{"type":"boolean"}}},"ApiResponsePageTransactionResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageTransactionResponse"},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"PageTransactionResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/TransactionResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"TransactionResponse":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","enum":["INCOME","EXPENSE","TRANSFER"]},"title":{"type":"string"},"description":{"type":"string"},"amount":{"type":"number"},"date":{"type":"string","format":"date-time"},"walletId":{"type":"string"},"walletName":{"type":"string"},"counterpartWalletId":{"type":"string"},"counterpartWalletName":{"type":"string"},"categoryId":{"type":"string"},"categoryName":{"type":"string"},"categoryIcon":{"type":"string"},"categoryColor":{"type":"string"},"contributorId":{"type":"string"},"contributorName":{"type":"string"},"contributorEmail":{"type":"string"},"contributorPictureUrl":{"type":"string"},"status":{"type":"string"},"source":{"type":"string"}}},"ApiResponseListWalletInvitationSentResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/WalletInvitationSentResponse"}},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"WalletInvitationSentResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"walletId":{"type":"string","format":"uuid"},"walletName":{"type":"string"},"invitedEmail":{"type":"string"},"invitedUserId":{"type":"string","format":"uuid"},"invitedUserName":{"type":"string"},"status":{"type":"string","enum":["PENDING","ACCEPTED","REJECTED","EXPIRED","CANCELED"]},"createdAt":{"type":"string","format":"date-time"},"expiresAt":{"type":"string","format":"date-time"},"respondedAt":{"type":"string","format":"date-time"}}},"ApiResponseListCollaboratorSearchResult":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/CollaboratorSearchResult"}},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"CollaboratorSearchResult":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"email":{"type":"string"},"pictureUrl":{"type":"string"},"status":{"type":"string","enum":["INVITABLE","ALREADY_MEMBER","INVITATION_PENDING"]}}},"ApiResponseListWalletMemberResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/WalletMemberResponse"}},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"WalletMemberResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"email":{"type":"string"},"name":{"type":"string"},"pictureUrl":{"type":"string"},"role":{"type":"string","enum":["OWNER","MEMBER"]},"joinedAt":{"type":"string","format":"date-time"}}},"ApiResponseWalletInfoResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/WalletInfoResponse"},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"UpcomingTransactionResponse":{"type":"object","properties":{"title":{"type":"string"},"amount":{"type":"number"},"type":{"type":"string","enum":["EXPENSE","INCOME"]},"nextExecutionDate":{"type":"string","format":"date"}}},"WalletInfoResponse":{"type":"object","properties":{"lastActivity":{"type":"string","format":"date-time"},"highestExpense":{"type":"string"},"transactions":{"type":"integer","format":"int64"},"initialValue":{"type":"number"},"upcoming":{"type":"array","items":{"$ref":"#/components/schemas/UpcomingTransactionResponse"}}}},"ApiResponsePageIncomeResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageIncomeResponse"},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"PageIncomeResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/IncomeResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"ApiResponsePageExpenseResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageExpenseResponse"},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"PageExpenseResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/ExpenseResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"ApiResponseListWalletInvitationResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/WalletInvitationResponse"}},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"ApiResponsePageTransferenceResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageTransferenceResponse"},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"PageTransferenceResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/TransferenceResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"ApiResponseListSubscriptionResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/SubscriptionResponse"}},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"ApiResponseCurrentSubscriptionResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/CurrentSubscriptionResponse"},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"ApiResponseListNotificationResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/NotificationResponse"}},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"NotificationResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"title":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"},"read":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"}}},"ApiResponseLong":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"integer","format":"int64"},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"LegalDocumentResponse":{"type":"object","properties":{"documentType":{"type":"string"},"language":{"type":"string"},"lastUpdated":{"type":"string"},"content":{"type":"string"},"contactEmail":{"type":"string"}}},"ApiResponsePresignedDownloadResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PresignedDownloadResponse"},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"PresignedDownloadResponse":{"type":"object","properties":{"fileId":{"type":"string","format":"uuid"},"downloadUrl":{"type":"string"},"originalFilename":{"type":"string"},"contentType":{"type":"string"},"sizeBytes":{"type":"integer","format":"int64"},"expiresAt":{"type":"string","format":"date-time"}}},"ApiResponseStatisticsResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/StatisticsResponse"},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"MonthlyPoint":{"type":"object","properties":{"month":{"type":"string"},"income":{"type":"number"},"expense":{"type":"number"}}},"StatisticsResponse":{"type":"object","properties":{"months":{"type":"array","items":{"$ref":"#/components/schemas/MonthlyPoint"}}}},"ApiResponseSpendingSummaryResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/SpendingSummaryResponse"},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"CategoryPercentage":{"type":"object","properties":{"categoryId":{"type":"string","format":"uuid"},"categoryName":{"type":"string"},"percentage":{"type":"number","format":"double"}}},"SpendingSummaryResponse":{"type":"object","properties":{"totalSpent":{"type":"number"},"totalActivityPercentage":{"type":"number","format":"double"},"topCategories":{"type":"array","items":{"$ref":"#/components/schemas/CategoryPercentage"}}}},"ApiResponseListRecentActivityItem":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/RecentActivityItem"}},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"RecentActivityItem":{"type":"object","properties":{"type":{"type":"string"},"name":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"amount":{"type":"number"},"walletName":{"type":"string"}}},"ApiResponseListBudgetHealthItem":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/BudgetHealthItem"}},"timestamp":{"type":"string","format":"date-time"},"path":{"type":"string"},"code":{"type":"string","enum":["VALIDATION_ERROR","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","RESOURCE_NOT_FOUND","CONFLICT","INTERNAL_SERVER_ERROR","INVALID_CREDENTIALS","BUDGET_NOT_FOUND","BUDGET_OVERLAP","INVALID_BUDGET_DATE","INVALID_BUDGET_SCOPE","INVALID_BUDGET_THRESHOLD","WALLET_NOT_FOUND","WALLET_ACCESS_DENIED","INVALID_FILE","INVALID_STORAGE_KEY","STORAGE_ERROR","FILE_ACCESS_DENIED","PLAN_LIMIT_EXCEEDED","IDEMPOTENCY_CONFLICT","EMAIL_DELIVERY_FAILED","LEGAL_DOCUMENT_NOT_FOUND"]},"errors":{"type":"array","items":{"$ref":"#/components/schemas/FieldErrorResponse"}}}},"BudgetHealthItem":{"type":"o
[...]
